@import url(http://fonts.googleapis.com/css?family=Waiting+for+the+Sunrise);

@col-dkcontrast: RGBA(38, 27, 17, 1); // eternity
@col-splash: RGBA(103, 47, 183, 1); // purple heart
@col-brcontrast: RGBA(71, 200, 215, 1); // medium turquoise
@col-section: RGBA(129, 199, 110, 1); // mantis
@col-altsection: RGBA(234, 247, 254, 1); // solitude
@col-altcontrast: RGBA(253, 151, 31, 1); // tree poppy
@col-neutcontrast: RGBA(118, 122, 130, 1); // storm gray
@fon-stylistic: 'Waiting for the Sunrise', cursive;
@fon-heading: 'Times New Roman', Times, serif;
@fon-text: Helvetica, Arial, sans-serif;
@fon-accent: Impact, Charcoal, sans-serif;
@fon-mono: 'Lucida Console', Monaco, monospace;

html{
  -webkit-font-smoothing: antialiased;
}

li{
  font-family: @fon-accent;
}
h1{
  font-family: @fon-stylistic;
  color: @col-section;
  font-size: 3rem;
}
h2{
  font-family: @fon-stylistic;
  text-align: center;
  color: @col-dkcontrast;
  font-weight: 600;
}
h3{
  font-family: @fon-heading;
  color: @col-neutcontrast;
  font-weight: 300;
}
h4{
  color: @col-altcontrast;
  font-family: @fon-heading;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 1.5em;
}
h5{
  font-family: @fon-accent;
}
p{
  line-height: 2rem;
  font-family: @fon-text;
}
button, .btn{
  background-color: @col-splash;
  color: @col-altcontrast;
}
.card .card-content{
  padding: 0 20px 20px;
}
figure{
  display: inline-block;
  margin: 15px 10px 5px;
}
#bootstrap{
  width: 50px;
  height: 50px;
  padding: 15px;
}
nav{
  background-color: @col-splash;

  .button-collapse{
    color: @col-section;
  }
  .dropdown-content{
    min-width: 200px;
    font-size: 18px;
    color: @col-brcontrast;
    background-color: @col-dkcontrast;
  }
  .brand-logo{
    font-family: @fon-stylistic;
    color: @col-altsection;
    font-weight: 600;
  }
  ul a {
    color: @col-altsection;
  }
}
.primarysection{
  background-color: @col-section;
}


.chbox{
  position: relative !important;
  left: 0 !important;
  margin: -5px;
}
.techs{
  border: 2px @col-neutcontrast solid;
}

.hireme{
  background-color: @col-dkcontrast;
  color: @col-brcontrast !important;
}
#homepage{

  .techlogos{
    width: 80px;
    height: 80px;
    margin-bottom: 5px;
  }

  .hero{
    #heroheadline{
      top: 25px;
      position: relative;
      left: 0;
    }
    #heroimage{
      -webkit-filter: contrast(50%) brightness(50%);
    }
  }
  .firstsection{
    background-color: @col-altsection;
    h4{
      color: @col-neutcontrast;
    }
    h5{
      color: @col-altcontrast;
    }
  }

  .secondsection{
    background-color: @col-section;
    color: @col-dkcontrast;
  }
  .thirdsection{

  }
  .fourthsection{
    background-color: @col-splash;
  }
  .fifthsection{

  }
  .parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
  }
    .parallax-container .section {
      width: 100%;
    }

  @media only screen and (max-width : 992px) {
    .parallax-container .section {
      position: absolute;
      top: 40%;
    }
    #index-banner .section {
      top: 10%;
    }
  }
  @media only screen and (max-width : 600px) {
    #index-banner .section {
      top: 0;
    }
  }

}


footer{
  background-color: @col-neutcontrast;
  .page-footer {
    margin: 0;
  }
}

.borderfix{
  overflow: visible;
}
