.green.lighten-2.z-depth-1
  .section
    .row.center
      .col.s12
        h3.center#projectheading.heading Projects
    .row
      .col.s12.m4#projectlist.center(ng-repeat='project in projects track by $index')
        .card
          .card-image
            img.responsive-img(ng-src='{{project.screenshotThumb}}')
          .card-content
            span.card-title.flex-text {{project.name}}
            p.desc {{project.desc}}
          .card-action.center
            a.waves-effect.waves-light.btn.deep-purple(ui-sref='projects.show({project: project.name})') Case Study
            button.blue(ng-show='activeUser' ng-click='editProject(project)') Edit Project
