.row(ng-if='!activeUser')
  h3 You must be logged in to see this page.
.row(ng-if='activeUser')
  .col.s12.center
    h3.heading(ng-hide='projectId') Create Project
    h3.heading(ng-show='projectId') Edit Project
.row(ng-if='activeUser')
  form(name='recordProject')
  .col.s4
    p.input-field
      label(for='name' ng-class='{"active": projectId}') Name
      input(type='text' name='name' ng-model='project.name')
    p.input-field
      label(for='desc' ng-class='{"active": projectId}') Desc
      input(type='text' name='desc' ng-model='project.desc')
    p.input-field
      label(for='extddesc' ng-class='{"active": projectId}') Extended Desc
      textarea.textarea(name='extddesc' ng-model='project.extddesc')
    p.input-field
      label(for='screenshotthumb' ng-class='{"active": projectId}') Screenshot Thumbnail
      input(type='text', name='screenshotthumb', ng-model='project.screenshotThumb')
    img.responsive-img(ng-src='{{project.screenshotThumb}}')
  .col.s4
    p
      label(for='isdraft') Is draft?
      input(type='checkbox' name='isdraft' ng-model='project.isDraft')
    p.input-label
      label(for='displayorder' ng-class='{"active": projectId}') Display Order
      input(type='text' name='displayorder' ng-model='project.displayOrder')
    p(ng-show='project.techs.length > 0') Techs
      p
        span(ng-class='{"active": projectId}') {{project.techs.join(' | ')}}
        br
        label(for='addtech') Add Tech
        input(type='text' name='addtech' ng-model='newTech')
      button.waves-effect.waves-light.btn-large(ng-click='addTech(newTech)') Add Tech
    .row(ng-repeat='image in project.images')
      button.waves-effect.waves-light.btn-small.red(ng-click='removeImage(image.$index)'): i.fa.fa-trash
      img.responsive-img(ng-src='{{image[0]}}')
      p {{image[1]}}
    p.input-field
      label(for='addimagelink' ng-class='{"active": projectId}') Add Image Link
      input(type='text' name='addimagelink' ng-model='imageLink')
    p.input-field
      label(for='addimagecaption' ng-class='{"active": projectId}') Add Image Caption
      input(type='text' name='addimagecaption' ng-model='imageCaption')
      button.waves-effect.waves-light.btn-large(ng-click='addImage(imageLink, imageCaption)') Add Image to Array
  .col.s4
    p.input-field
      label(for='role' ng-class='{"active": projectId}') Role
      input(type='text' name='role' ng-model='project.role')
    p.input-field
      label(for='linktext' ng-class='{"active": projectId}') Link Text
      input(type='text' name='linktext' ng-model='project.linkText')
    p.input-field
      label(for='linktoapp' ng-class='{"active": projectId}') Link to App
      input(type='url' name='linktoapp' ng-model='project.linkToApp')
    p.input-field
      label(for='linktorepo' ng-class='{"active": projectId}') Link to Repo
      input(type='url' name='linktorepo' ng-model='project.linkToRepo')
.row(ng-if='activeUser')
  .col-xs-12.center
    button.waves-effect.waves-light.btn-large(ng-hide='projectId' ng-click='addProject(project)' width='100%') Add Project
      i.mdi-content-send.right
    button.waves-effect.waves-light.btn-large(ng-show='projectId' ng-click='saveProject(project)' width='100%') Save Project
      i.mdi-content-send.right
