h3 New Project
.row
  form(name='newProject')
  .col.s4
    p.input-field
      label(for='name') Name
      input(type='text' name='name' ng-model='project.name')
    p.input-field
      label(for='desc') Desc
      input(type='text' name='desc' ng-model='project.desc')
    p.input-field
      label(for='extddesc') Extended Desc
      textarea(name='extddesc' ng-model='project.extddesc')
    p.input-field
      label(for='screenshotthumb') Screenshot Thumbnail
      input(type='url', name='screenshotthumb', ng-model='project.screenshotThumb')
  .col.s4
    input(type='checkbox' name='topthree' ng-model='project.topThree')
    p(ng-show='project.techs.length > 0') Techs
      ul
        li(ng-repeat='tech in project.techs') {{tech}}
        label(for='addtech') Add Tech
        input(type='text' name='addtech' ng-model='newTech')
      button.waves-effect.waves-light.btn-large(ng-click='addTech(newTech)') Add Tech
  .col.s4
    p.input-field
      label(for='role') Role
      input(type='text' name='role' ng-model='project.role')
    p.input-field
      label(for='screenshot') Screenshot Link
      input(type='url' name='screenshot' ng-model='screenshot')
    p.input-field
      label(for='linktext') Link Text
      input(type='text' name='linktext' ng-model='linkText')
    p.input-field
      label(for='linktoapp') Link to App
      input(type='url' name='linktoapp' ng-model='linkToApp')
.row
  .col-xs-12.center
    button.waves-effect.waves-light.btn-large(ng-click='addProject(project)' width='100%') Save Project
      i.mdi-content-send.right
