.section
  .row
    .col.s12.center
      h2 {{project.name}}
      h4 {{project.desc}}
  .row
    .col.s12.m6.center
      div
        a.waves-effect.waves-light.btn(ng-click='changeImage("last")' ng-show='project.images.length > 1')
          i.mdi-navigation-arrow-back.large
        a.waves-effect.waves-light.btn(ng-click='changeImage("next")' ng-show='project.images.length > 1')
          i.mdi-navigation-arrow-forward.large
        figure
          figcaption: h5 {{project.images[imageIndex][1]}}
          img.responsive-img(ng-src='{{project.images[imageIndex][0]}}')
        a.waves-effect.waves-light.btn(ng-click='changeImage("last")' ng-show='project.images.length > 1')
          i.mdi-navigation-arrow-back.large
        a.waves-effect.waves-light.btn(ng-click='changeImage("next")' ng-show='project.images.length > 1')
          i.mdi-navigation-arrow-forward.large

    .col.s12.m6
      p.flow-text {{project.extddesc}}
    .col.s12.m6
      p Technologies:
      ul
        li(ng-repeat='tech in project.techs') {{tech}}
      p Role: {{project.role}}
      p: a(ng-href='{{project.linkToApp}}') {{project.linkText}}
      p: a(ng-href='{{project.linkToRepo}}') Link to Github repository
