.section.projectshow
  .row
    .col.s12.center
      .row.valign-wrapper.hide-on-small-only
        .col.s3.center
          a.pagebutton.waves-effect.waves-light.btn.valign.z-depth-2(ng-click='changeProject("last")')
            i.mdi-navigation-arrow-back.large
            span.white-text.hide-on-small-only PREVIOUS
        .col.s6.center
          h2.valign {{project.name}}
        .col.s3.center
          a.pagebutton.waves-effect.waves-light.btn.valign.z-depth-2(ng-click='changeProject("next")')
            span.white-text.hide-on-small-only NEXT &nbsp;
            i.mdi-navigation-arrow-forward.large
      .row.hide-on-med-and-up
        .row
          h2 {{project.name}}
        .row
          a.pagebutton.waves-effect.waves-light.btn.z-depth-2(ng-click='changeProject("last")')
            i.mdi-navigation-arrow-back.large
            span.white-text.hide-on-small-only PREVIOUS
          span &nbsp;&nbsp;&nbsp;
          a.pagebutton.waves-effect.waves-light.btn.z-depth-2(ng-click='changeProject("next")')
            span.white-text.hide-on-small-only NEXT &nbsp;
            i.mdi-navigation-arrow-forward.large
      .row
        h4.flow-text {{project.desc}}
  .row
    div(je-img-slider imgarray='project.images')
    .col.s12.m6
      p.flow-text {{project.extddesc}}
    .col.s12.m6
      h5 Technologies:
      ul
        li(ng-repeat='tech in project.techs | orderBy: tech') {{tech}}
      h5 Role:
        p.spacing {{project.role}}
      h5: i.mdi-av-play-circle-fill: a(ng-href='{{project.linkToApp}}') &nbsp;{{project.linkText}}
      h5: i.fa.fa-github: a(ng-href='{{project.linkToRepo}}') &nbsp;&nbsp;Link to Github repository
