.section.projectshow
  .row
    .col.s12.center
      .row.valign-wrapper.hide-on-small-only
        .col.s3.center
          a.pagebutton.waves-effect.waves-light.btn.valign.z-depth-3(ng-click='changeProject("last")')
            i.mdi-navigation-arrow-back.large
            span.white-text.hide-on-small-only PREVIOUS
        .col.s6.center
          h2.valign {{project.name}}
        .col.s3.center
          a.pagebutton.waves-effect.waves-light.btn.valign.z-depth-3(ng-click='changeProject("next")')
            span.white-text.hide-on-small-only NEXT &nbsp;
            i.mdi-navigation-arrow-forward.large
      .row.hide-on-med-and-up
        .row
          h2 {{project.name}}
        .row
          a.pagebutton.waves-effect.waves-light.btn.z-depth-3(ng-click='changeProject("last")')
            i.mdi-navigation-arrow-back.large
            span.white-text.hide-on-small-only PREVIOUS
          span &nbsp;&nbsp;&nbsp;
          a.pagebutton.waves-effect.waves-light.btn.z-depth-3(ng-click='changeProject("next")')
            span.white-text.hide-on-small-only NEXT &nbsp;
            i.mdi-navigation-arrow-forward.large
      .row
        h4.flow-text {{project.desc}}
  .row
    .col.m6.hide-on-small-only.center
      .row.valign-wrapper
        .col.s2.valign
          a.waves-effect.waves-light.btn.z-depth-3(ng-click='changeImage("last")' ng-show='project.images.length > 1')
            i.mdi-navigation-arrow-back.large
        .col.s8.valign
          figure
            figcaption: h5 {{project.images[imageIndex][1]}}
            img.projectimage.responsive-img.z-depth-3(ng-src='{{project.images[imageIndex][0]}}')
        .col.s2.valign
          a.waves-effect.waves-light.btn.z-depth-3(ng-click='changeImage("next")' ng-show='project.images.length > 1')
            i.mdi-navigation-arrow-forward.large
    .col.s12.m6.hide-on-med-and-up.center
      .row
        .col.s12
          figure
            figcaption: h5 {{project.images[imageIndex][1]}}
            img.projectimage.responsive-img.z-depth-3(ng-src='{{project.images[imageIndex][0]}}')
      .row
        a.waves-effect.waves-light.btn.z-depth-3(ng-click='changeImage("last")' ng-show='project.images.length > 1')
          i.mdi-navigation-arrow-back.large
        span &nbsp;&nbsp;&nbsp;
        a.waves-effect.waves-light.btn.z-depth-3(ng-click='changeImage("next")' ng-show='project.images.length > 1')
          i.mdi-navigation-arrow-forward.large
      
    .col.s12.m6
      p.flow-text {{project.extddesc}}
    .col.s12.m6
      p Technologies:
      ul
        li(ng-repeat='tech in project.techs') {{tech}}
      p Role: {{project.role}}
      p: a(ng-href='{{project.linkToApp}}') {{project.linkText}}
      p: a(ng-href='{{project.linkToRepo}}') Link to Github repository
