.row
  .col.s6.center
    h3 {{project.name}}
    h4 Case Study
  .col.s6.center
    img.responsive-img(ng-src='{{project.screenshot}}')
    p {{project.extddesc}}
    p Technologies:
    ul
      li(ng-repeat='tech in project.techs') {{tech}}
    p Role: {{project.role}}
    a(ng-href='{{project.linktoapp}}') {{project.linktext}}
  .col-xs-6.center
    
