.row(ng-show='showProjectView')
  .col-xs-12.center
    h3 {{project.name}}
    h4 Case Study
  .col-xs-6.center
    img(ng-src='{{project.screenshot}}')
  .col-xs-6.center
    p {{project.extddesc}}
    p Frameworks:
    ul
      li(ng-repeat='tech in project.techs') {{tech}}
    p Role: {{project.role}}
    a(ng-href='{{project.linktoapp}}') {{project.linktext}}
