footer.page-footer.grey.darken-2
  .row
    .col.l6.s12.offset-l3.center
      h5 I'm ready to work!
      p I'll be ready for a full-time gig after June 8.
  .footer-copyright
    &#169; Copyright Jon Edwards 2015
