footer.page-footer
  .container
    .row
      .col.l6.s12.center
        h5 I'm ready to work!
        p I'll be ready for a full-time gig after 6/8.
  .footer-copyright
    .container.center
      &#169; Copyright Jon Edwards 2015
