
ul
  li
    a(href='mailto:jkedwards@me.com')
      i.fa.fa-envelope.fa-lg jkedwards@me.com
  li.divider
  li
    a(href='http://twitter.com/kolohelios')
      i.fa.fa-twitter.fa-lg Twitter
  li
    a(href='https://github.com/kolohelios')
      i.fa.fa-github.fa-lg Github
  li
    a(href='http://www.linkedin.com/in/kolohelios')
      i.fa.fa-linkedin.fa-lg LinkedIn
  li
    a(href='http://www.facebook.com/kolohelios')
      i.fa.fa-facebook.fa-lg Facebook
  li
    a(href='http://www.stackoverflow.com/users/4592962/jon-edwards')
      i.fa.fa-stack-overflow.fa-lg Stack Overflow
  li
    a(href='https://angel.co/jon-edwards-1')
      i.fa.fa-angellist.fa-lg Angel List
  li
    a(href='https://www.quora.com/Jon-Edwards-10') Quora
