.container
  .row
    .col.s6.offset-s3
      .collection
        a.collection-item(href='mailto:jkedwards@me.com')
          i.fa.fa-envelope.fa-lg &nbsp;&nbsp; jkedwards@me.com
        .divider
        a.collection-item(href='http://twitter.com/kolohelios')
          i.fa.fa-twitter.fa-lg &nbsp;&nbsp; Twitter
        a.collection-item(href='https://github.com/kolohelios')
          i.fa.fa-github.fa-lg &nbsp;&nbsp; Github
        a.collection-item(href='http://www.linkedin.com/in/kolohelios')
          i.fa.fa-linkedin.fa-lg &nbsp;&nbsp; LinkedIn
        a.collection-item(href='http://www.facebook.com/kolohelios')
          i.fa.fa-facebook.fa-lg &nbsp;&nbsp; Facebook
        a.collection-item(href='http://www.stackoverflow.com/users/4592962/jon-edwards')
          i.fa.fa-stack-overflow.fa-lg &nbsp;&nbsp; Stack Overflow
        a.collection-item(href='https://angel.co/jon-edwards-1')
          i.fa.fa-angellist.fa-lg &nbsp;&nbsp; Angel List
        a.collection-item(href='https://www.quora.com/Jon-Edwards-10') Quora
