.section#contactpage
  h2.center Contact
  .row
    .col.s12.m6
      .collection
        a.collection-item(href='mailto:jkedwards@me.com')
          i.fa.fa-envelope.fa-lg &nbsp;&nbsp; jkedwards@me.com
        .divider
        a.collection-item(href='http://twitter.com/kolohelios' target='_blank')
          i.fa.fa-twitter.fa-lg &nbsp;&nbsp; Twitter
        a.collection-item(href='https://github.com/kolohelios' target='_blank')
          i.fa.fa-github.fa-lg &nbsp;&nbsp; Github
        a.collection-item(href='http://www.linkedin.com/in/kolohelios' target='_blank')
          i.fa.fa-linkedin.fa-lg &nbsp;&nbsp; LinkedIn
        a.collection-item(href='http://www.facebook.com/kolohelios' target='_blank')
          i.fa.fa-facebook.fa-lg &nbsp;&nbsp; Facebook
        a.collection-item(href='http://www.stackoverflow.com/users/4592962/jon-edwards' target='_blank')
          i.fa.fa-stack-overflow.fa-lg &nbsp;&nbsp; Stack Overflow
        a.collection-item(href='https://angel.co/jon-edwards-1' target='_blank')
          i.fa.fa-angellist.fa-lg &nbsp;&nbsp; Angel List
        a.collection-item(href='https://www.quora.com/Jon-Edwards-10' target='_blank') Quora
    .col.s12.m6
      #wufoo-zb3sd7v14mpmyp
        //- p Fill out my
        //-   a(href='https://kolohelios.wufoo.com/forms/zb3sd7v14mpmyp') online form
        //-   #wuf-adv(style='font-family:inherit;font-size: small;color:#a7a7a7;text-align:center;display:block;')
        //-   span There are tons of 
        //-   a(href='http://www.wufoo.com/features/') Wufoo features
        //-   span to help make your forms awesome.
    script(type='text/javascript').
      var zb3sd7v14mpmyp;(function(d, t) {
      var s = d.createElement(t), options = {
      'userName':'kolohelios',
      'formHash':'zb3sd7v14mpmyp',
      'autoResize':true,
      'height':'568',
      'async':true,
      'host':'wufoo.com',
      'header':'show',
      'ssl':true};
      s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
      s.onload = s.onreadystatechange = function() {
      var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
      try { zb3sd7v14mpmyp = new WufooForm();zb3sd7v14mpmyp.initialize(options);zb3sd7v14mpmyp.display(); } catch (e) {}};
      var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
      })(document, 'script');
