.section.fifthsection
  .row.center-align
    button.waves-effect.waves-light.btn-large.z-depth-3(ui-sref='contact') Contact Me
    br
    h5
      img#wxicon(ng-src='{{wxIcon}}')
      span It's {{temperature | number : 0}}ยบ F in Seattle right now.
    br
    h5 *Recent Earthquakes Near Seattle
    table.centered.bordered
      thead
        tr
          th When
          th Place
          th Size
      tbody
        tr(ng-repeat='earthquake in earthquakes | orderBy : properties.time')
          td {{earthquake.properties.timeAgo}}
          td {{earthquake.properties.place}}
          td {{earthquake.properties.mag | number : 1}}
    p * earthquakes 3.0 or larger in magnitude that occured during the last two weeks within 250 miles of Seattle, WA
