.parallax-container
  .parallax.hero
    img#heroimage(src='/assets/seattle.jpg')
  .container.hero
    h1#heroheadline.center.animated.zoomIn Jon Edwards is a junior web developer with an analytical mind and a keen eye for detail.
    img.responsive-img(src='/assets/newphoto.png', alt='photo of Jon Edwards')
