#homepage
  .parallax-container
    .parallax.hero
      img#heroimage(src='/assets/seattle.jpg')
    .container.hero
      h1#heroheadline.center Jon Edwards is a junior web developer with an analytical mind and a keen eye for detail.
      img.responsive-img(src='/assets/photo.png', alt='photo of Jon Edwards')
  .section.firstsection
    .container
      .row.center
        .col.s12
          h3 I have experience with the following technologies:
          .row
            .col.s12.m6.l4
              .card-panel.z-depth-3
                h5 FRONT END
                figure
                  img.techlogos(src='assets/AngularJS.png' alt='Angular.js')
                  figcaption Angular.js
                figure
                  img.techlogos(src='assets/materialize.svg' alt='Materialize.css logo')
                  figcaption Materialize.css
                figure
                  img.techlogos(src='assets/jquery.gif' alt='jQuery logo')
                  figcaption jQuery
                figure
                  img.techlogos#bootstrap(src='assets/Bootstrap_logo.svg' alt='Bootstrap logo')
                  figcaption Bootstrap
                figure
                  img.techlogos(src='assets/HTML5_Logo.svg' alt='HTML5 logo')
                  figcaption HTML5
                figure
                  img.techlogos(src='assets/css3.svg' alt='CSS3 logo')
                  figcaption CSS3
            .col.s12.m6.l4
              .card-panel.z-depth-3
                h5 BACK END
                figure
                  img.techlogos(src='assets/logo-node.png' alt='Node.js logo')
                  figcaption Node.JS
                figure
                  img.techlogos(src='assets/hapi.gif' alt='Hapi.js logo')
                  figcaption hapi.js
                figure
                  img.techlogos(src='assets/mongodb.png' alt='mongoDB logo')
                  figcaption mongo.DB
                figure
                  img.techlogos(src='assets/firebase_logo.gif' alt='Firebase logo')
                  figcaption Firebase
            .col.s12.m6.offset-m3.l4
              .card-panel.z-depth-3
                h5 LANGUAGES
                figure
                  img.techlogos(src='assets/js-logo.svg' alt='JavaScript logo')
                  figcaption JavaScript
                figure
                  img.techlogos(src='assets/cplusplus.png' alt='C++ logo')
                  figcaption C++
  .parallax-container.valign-wrapper.secondsection
    .parallax
      img(src='/assets/img_0461.jpg')
    .container
      .row
        .col.s12
          h2.center.heading Projects
      .row
        .col.s12.m4#projectlist(ng-repeat='project in projects track by $index')
          .card.z-depth-3
            .card-image
              img.responsive-img(ng-src='{{project.screenshotthumb}}')
              span.card-title {{project.name}}
            .card-content
              p.desc {{project.desc}}
            .card-action
              button.btmbutton(ng-click='caseStudy($index)') Case Study
      .row
        .col.s12.center
            button.z-depth-3.btmbutton(ng-click='sendMessage()') View Full Portfolio
  .section.thirdsection
    .container
      .row.center
        h2.center Blog Posts
      .row
        .col.s12.m4#posts(ng-repeat='post in posts | orderBy:"-postDate"', ng-if='(post.isDraft !== true || activeUser) && $index < 3')
          .card.black-text.z-depth-3
            div.card-image.borderfix
              img(ng-src='{{post.thumbnailimage}}')
            .card-content
              h6.flow-text.card-title.black-text {{post.title}}
              p Date: {{post.postDate | date: 'dd MMM yyyy'}}
              p.truncate {{post.blurb}}
              p Tags: {{post.tags.join(' | ')}}
            .card-action
              a(ng-click='showPost(post)') Read more
  .parallax-container.valign-wrapper.fourthsection
    .parallax
      img(src='/assets/museumofflight.jpg')
    .container
      .row
        h2.center Social Profile
        .col.s12.m6.center
          script(src="//platform.linkedin.com/in.js" type="text/javascript")
          script(type="IN/MemberProfile" data-id="https://www.linkedin.com/in/kolohelios" data-format="inline" data-related="false")
        .col.s12.m6.center
          a.twitter-timeline(href='https://twitter.com/kolohelios' data-widget-id='592404995988848640' data-chrome='noscrollbar nofooter noborders' data-tweet-limit='3') Tweets by @kolohelios
          script
            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
  .section.fifthsection
    .container
      .row
        .col.s8.offset-s2
          .card-panel.hireme.z-depth-3.center
            h4.hireme.flow-text I'll be ready for a full-time gig after June 8.
            a.waves-effect.waves-light.btn(ui-sref='contact') Send me a message
