.parallax-container
  .parallax
    img(src='/assets/seattle.jpg')
  h4 Jon Edwards is a junior web developer with experience in the MEAN stack.
    .row.center
      .container
        .col.s12.m3
          img.responsive-img#photo(src='/assets/photo.png', alt='photo of Jon Edwards')
        .col.s12.m9.center
          h5.grey-text I have experience with the following technologies:
          ul#list
            //li.fa.fa-check-square &nbsp;Mongo.db
            //li.fa.fa-check-square &nbsp;Express
            li.fa.fa-check-square &nbsp;Angular.js
            //li.fa.fa-check-square &nbsp;Node.js
            li.fa.fa-check-square &nbsp;jQuery
            li.fa.fa-check-square &nbsp;Bootstrap
            li.fa.fa-check-square &nbsp;Materialize.css
            li.fa.fa-check-square &nbsp;Firebase
            li.fa.fa-check-square &nbsp;HTML5/CSS3
          h5.grey-text and languages:
          ul#list
            li.fa.fa-check-square &nbsp;JavaScript
    .row.center
      .col.s12
        h5.red-text I'll be ready for a full-time gig after 6/8.
.container.green.lighten-2.z-depth-1

  .section
    .row.center
      .col.s12
        h3.center#projectheading Projects
    .row
      .col.s12.m4#projectlist(ng-repeat='project in projects track by $index')
        .card
          .card-image
            img.responsive-img(ng-src='{{project.screenshotthumb}}')
            span.card-title {{project.name}}
          .card-content
            p.desc {{project.desc}}
          .card-action
            button.btmbutton(ng-click='caseStudy($index)') Case Study
    .row(ng-show='showProjectView')
      .col-xs-12.center
        h3 {{projects[view].name}}
        h4 Case Study
      .col-xs-6.center
        img(ng-src='{{projects[view].screenshot}}')
      .col-xs-6.center
        p {{projects[view].extddesc}}
        p Frameworks:
        ul
          li(ng-repeat='tech in projects[view].techs') {{tech}}
        p Role: {{projects[view].role}}
        a(ng-href='{{projects[view].linktoapp}}') {{projects[view].linktext}}
.parallax-container.valign-wrapper
  .parallax
    img(src='/assets/img_0461.jpg')
  .section.no-pad-bot
    .container
      .row.center
        h3 Blog Posts
      .row
        .col.s12.m4#posts(ng-repeat='post in posts | orderBy:"-postDate"', ng-if='(post.isDraft !== true || activeUser) && $index < 3')
          .card
            .card-image
              img(ng-src='{{post.thumbnailimage}}')
              .card-title {{post.title}}
            .card-content
              p Date: {{post.postDate | date: 'dd MMM yyyy'}}
              p {{post.blurb}}
              p Tags: {{post.tags.join(' | ')}}
            .card-action
              a(ng-click='showPost(post)') Read more
  
.green.lighten-2.z-depth-1
  .section
    .row
      .col.s12.m6.center
        script(src="//platform.linkedin.com/in.js" type="text/javascript")
        script(type="IN/MemberProfile" data-id="https://www.linkedin.com/in/kolohelios" data-format="inline" data-related="false")
      .col.s12.m6.center
        a.twitter-timeline(href="https://twitter.com/kolohelios" data-widget-id="592404995988848640") Tweets by @kolohelios
        script
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
