.section.firstsection
  .container
    .row.center
      .col.s12
        h3 I have experience with the following technologies:
        .row
          .col.s12.m6.l4
            .card-panel.z-depth-3
              h5 FRONT END
              figure
                img.techlogos(src='assets/AngularJS.png' alt='Angular.js')
                figcaption Angular.js
              figure
                img.techlogos(src='assets/materialize.svg' alt='Materialize.css logo')
                figcaption Materialize.css
              figure
                img.techlogos(src='assets/jquery.gif' alt='jQuery logo')
                figcaption jQuery
              figure
                img.techlogos#bootstrap(src='assets/Bootstrap_logo.svg' alt='Bootstrap logo')
                figcaption Bootstrap
              figure
                img.techlogos(src='assets/HTML5_Logo.svg' alt='HTML5 logo')
                figcaption HTML5
              figure
                img.techlogos(src='assets/css3.svg' alt='CSS3 logo')
                figcaption CSS3
          .col.s12.m6.l4
            .card-panel.z-depth-3
              h5 BACK END
              figure
                img.techlogos(src='assets/logo-node.png' alt='Node.js logo')
                figcaption Node.JS
              figure
                img.techlogos(src='assets/hapi.gif' alt='Hapi.js logo')
                figcaption hapi.js
              figure
                img.techlogos(src='assets/mongodb.png' alt='mongoDB logo')
                figcaption mongo.DB
              figure
                img.techlogos(src='assets/firebase_logo.gif' alt='Firebase logo')
                figcaption Firebase
          .col.s12.m6.offset-m3.l4
            .card-panel.z-depth-3
              h5 LANGUAGES
              figure
                img.techlogos(src='assets/js-logo.svg' alt='JavaScript logo')
                figcaption JavaScript
              figure
                img.techlogos(src='assets/cplusplus.png' alt='C++ logo')
                figcaption C++
