.section.fifthsection
  .container
    .row
      .col.s8.offset-s2
        .card-panel.hireme.z-depth-3.center
          h4.hireme.flow-text I'll be available for a full-time gig after June 8.
          a.waves-effect.waves-light.btn(ui-sref='contact') Contact Me
