.navbar-fixed
  nav#nav.deep-purple(ng-controller='NavCtrl')
    .nav-wrapper
      a.brand-logo(href='#!') Jon Edwards
      ul#nav-mobile.side-nav
        li
          a(ui-sref='home') Home
        li
          a(ui-sref='contact') Contact
        li
          a(ui-sref='posts.list') Blog
        li
          a(ui-sref='projects.list') Projects
        li(ng-show='activeUser')
          a(ui-sref='admin') Admin
        li(ng-show='activeUser')
          a(ng-click='logout()') Logout
      ul.right.hide-on-med-and-down
        li
          a(ui-sref='home') Home
        li
          a.dropdown-button(href='#!' data-activates='contact-dropdown' data-hover='true') Contact
            i.mdi-navigation-arrow-drop-down.right
        li
          a(ui-sref='posts.list') Blog
        li
          a(ui-sref='projects.list') Projects
        li(ng-show='activeUser')
          a(ui-sref='admin') Admin
        li(ng-show='activeUser')
          a(ng-click='logout()') Logout
      a.button-collapse.lime-text.text-accent-2(href='#', data-activates='nav-mobile')
        i.mdi-navigation-menu
ul#contact-dropdown.dropdown-content
  li: a(href='mailto:jkedwards@me.com') jkedwards@me.com
  li.divider
  li: a(href='https://github.com/kolohelios') Github
  li: a(href='http://twitter.com/kolohelios') Twitter
  li: a(href='http://www.linkedin.com/in/kolohelios') LinkedIn
  li: a(href='http://www.facebook.com/kolohelios') Facebook
  li: a(href='http://www.stackoverflow.com/users/4592962/jon-edwards') StackOverflow
  li: a(href='https://angel.co/jon-edwards-1') Angel List
  li: a(href='https://www.quora.com/Jon-Edwards-10') Quora
