.section.green.lighten-2
  h2.center Blog
  .row
    .col.s12.m3#posts(ng-click='showPost(post)' ng-repeat='post in posts | orderBy:"-postDate"', ng-if='(post.isDraft !== true || activeUser) && $index <= 2')
      .card
        .card-image
          img(ng-src='{{post.thumbnailimage}}')
          .card-title.black-text {{post.title}}
        .card-content
          p Date: {{post.postDate | date: 'dd MMM yyyy'}}
          p {{post.blurb}}
          p Tags: {{post.tags.join(' | ')}}
  .row
    .col.s12#postslist
      .section
        table.table.table-striped.green
          thead
            tr
              th Thumbnail
              th Title
              th Date
              th Tags
          tbody
            tr(ng-repeat='post in posts | orderBy:"-postDate"', ng-click='showPost(post)', ng-if='(post.isDraft !== true || activeUser) && $index > 2')
              td: img.thumbnail(ng-src='{{post.thumbnailimage}}' width='100px')
              td {{post.title}}
              td {{post.postDate | date: 'dd MMM yyyy'}}
              td {{post.tags.join(' | ')}}
