.row(ng-if='!activeUser')
  h3 You must be logged in to see this page.
.row(ng-if='activeUser')
  .col.s12
    h3.heading(ng-hide='postId') Create Post
    h3.heading(ng-show='postId') Edit Post
  .col.s4
    form(name='newPost', novalidation)
    .form-group
      label(for='title') Title
      input.form-control(type='text', name='title', ng-model='post.title')
    .form-group
      label(for='blurb') Blurb
      input.form-control(type='text', name='blurb', ng-model='post.blurb')
    .form-group
      label(for='imagethumbnail') Thumbnail
      input.form-control(type='text', name='imagethumbnail', ng-model='post.thumbnailimage')
  .col.s4
    .form-group
      p(ng-show='post.tags.length > 0') Tags
      ul
        li(ng-repeat='tag in post.tags') {{tag}}
      label(for='addtag') Add Tag
      input.form-control(type='text', name='addtag', ng-model='newTag')
      button.form-control.btn.btn-primary(ng-click='addTag(newTag)') Add Tag
  .col.s4
    .form-group
      label(for='postdate') Post Date
      input.form-control(type='date' name='postdate', ng-model='post.postDate')
    .form-group
      label(for='isdraft') Is Draft?
      input.form-control(type='checkbox', name='isdraft', ng-model='post.isDraft')
    .form-group
      p(ng-show='post.images.length > 0') Images
      ul
        li(ng-repeat='image in post.images') {{image}}
      label(for='addimage') Add Image
      input.form-control(type='text', name='addimage', ng-model='newImage')
      button.form-control.btn.btn-primary(ng-click='addImage(newImage)') Add Image
.row(ng-if='activeUser')
  .col.s12
    .form-group
      label(for='bodytext') Body
      textarea.form-control(rows='10', name='bodytext', ng-model='post.bodyText')
      button.waves-effect.waves-light.btn-large(ng-hide='postId' ng-click='addPost(post)') Add Post
        i.mdi-content-send.right
      button.waves-effect.waves-light.btn-large(ng-show='postId' ng-click='savePost(post)') Save Post
        i.mdi-content-send.right
.row(ng-if='activeUser')
  .col.s12
    hr
    h4.grey-text.center Post Preview
    div(markdown='post.bodyText')
