.row
  .col.s12
    .container
      h2 {{post.title}}
      div(markdown='post.bodyText')
      img(ng-repeat='image in post.images', ng-src='{{image}}')
  .col.s12(ng-if='activeUser')
    a.waves-effect.waves-light.btn-large(ui-sref='posts.edit({post: postId})') Edit Post
    a.waves-effect.waves-light.btn-large(ng-click='removePost(postId)') Remove Post
