.row
  .col.s12
    .container
      h2 {{post.title}}
      img.responsive-img(ng-repeat='image in post.images', ng-src='{{image}}')
      div.markdown-body(markdown='post.bodyText')
  .col.s12.center-align(ng-if='activeUser')
    a.waves-effect.waves-light.btn-large(ui-sref='posts.edit({post: postId})') Edit Post
    a.waves-effect.waves-light.btn-large(ng-click='removePost(post)') Remove Post
