h3 Post List

.row#postslist
  .col-xs-12
    table.table.table-striped
      thead
        tr
          th Title
          th Blurb
          th Tags
          th Thumbnail
      tbody
        tr(ng-repeat='post in posts')
          td {{post.title}}
          td {{post.blurb}}
          td {{post.tags}}
          td: img(ng-src='{{post.thumbnailimage}}')
